<div class="row">
	<div class="col-lg-12">
		<div class="header-bar page-header">
			<h1 class="">Create new Product</h1>
		</div>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">New Product</div>
			<div class="panel-body">
				<form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
					<div class="form-group row">
						<label class="col-sm-2 control-label">Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="name" />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 control-label">Image</label>
						<div class="col-sm-10">
							<input type="file" name="image" />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 control-label">Description</label>
						<div class="col-sm-10">
							<textarea class="form-control" name="shortDescription" cols="30" rows="3"></textarea>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 control-label">Category</label>
						<div class="col-sm-10">
							<select class="form-control" name="category">
								<option value="men">men</option>
								<option value="women">women</option>
								<option value="accessories">accessories</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 control-label">Sale Price</label>
						<div class="col-sm-10">
							<div class="input-group">
								<span class="input-group-addon">$</span>
								<input type="text" class="form-control" name="salePrice" />
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 control-label">Original Price</label>
						<div class="col-sm-10">
							<div class="input-group">
								<span class="input-group-addon">$</span>
								<input type="text" class="form-control" name="originalPrice" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2 control-label">
							<button type="submit" class="btn btn-primary">Create</button>
						</div>
					</div>
				</form>
			</div>
		</div>



	</div>
	<!-- /.col-lg-12 -->
</div>
